table {
	border-left: 2px dotted grey;
}

td {
	padding: 10px;
}

body {
	background-color: black;
	color: white;
}

h1 {
	color: #4444A4;
}

p {
	color: #4A4;
}

.heute {
    background-color: rgba(255, 204, 102, 0.3);
}

.morgen {
    background-color: rgba(255, 204, 102, 0.05);
}

.vorbei {
    opacity: 0.2;
}
