body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    height: 210mm;
    width: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
td:nth-child(even) {
    border-left: 1mm solid black;
    padding-left: 5mm;
}
td:nth-child(odd) {
    padding-right: 5mm;
}
.subpage {
    padding: 1cm;
    border: 5px #7206ff solid;
    width: 257mm;
    height: 165mm;
    outline: 1.5cm #c3c3c3 dashed;
}
tr, table {
    width: 100%;
}
td {
    width: 50%;
    margin: 10mm;
    text-align: center;
}

li {
    text-align: left;
    list-style-image: linear-gradient(to right, rgba(5, 42, 255, 0.65) 0%,rgba(0,0,0,0) 100%);
}

img {
    max-height: 150mm;
    max-width: 237mm;
}

.important {
    color: #ff0000;
    font-weight: bolder;
}

.blend {
    opacity: 0.2;
}

.style {
    font-family: "Agency FB" !important;
}

@page {
    size: A4;
    margin: 0;
    size: landscape;
}
@media print {
    html, body {
        height: 210mm;
        width: 297mm;      
        -webkit-print-color-adjust: exact;  
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        height: initial;
        width: initial;
        box-shadow: initial;
        page-break-after: always;
    }
}